@font-face {
    font-family: 'simplehandmade';
    src: url(/fonts/SimpleHandmade.otf);
}

@font-face {
    font-family: 'roboto';
    src: url(/fonts/roboto/Roboto-Condensed.ttf);
}

@font-face {
    font-family: 'robotolight';
    src: url(/fonts/roboto/Roboto-light.ttf);
}

@font-face {
    font-family: 'roboto-bold';
    src: url(/fonts/roboto/Roboto-Bold.ttf);
}

* {
    box-sizing: border-box;

}

body {
    width: 80%;
    margin: 5% auto;
}

header {
    max-width: 1200px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: 'simplehandmade';
    font-size: 4rem;
}

h2 {
    font-family: 'roboto';
    font-size: 3rem;
    margin: 0;
}

h3 {
    font-family: 'roboto';
    font-size: 1.5rem;
    margin: 0;
}

p {
    font-family: 'roboto';
    font-size: 1rem;
}


/* RÉPÉTITION TOUTES LES PAGES */

.logo {
    /* border: 3px solid blueviolet; */
}

/* MENU NAVIGATION */

nav {
    width: 55%;
    height: 100px;

}

.nav-burger {
    display: none;
}

nav li {
    display: inline-block;
    margin-left: 4%;
    margin-right: 1%;
    font-family: 'simplehandmade';
    font-size: 1.2rem;
    text-transform: uppercase;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav li a:hover {
    color: #F2B263;
}

.actuel {
    text-decoration: underline;
}

.nav-commande {
    font-size: 1.1rem;
    font-family: 'roboto';
    background-color: #F2C6C2;
}

.commande-actuel {
    font-size: 1.1rem;
    font-family: 'roboto';
    background-color: #F2C6C2;
    text-decoration: underline;
}

/* FOOTER */

footer {
    width: 100%;
    height: 50px;
    margin: 40px auto;
    color: black;
    background-color: #F2C6C2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

tr.footer {
    border-bottom: 1px solid black;
    background-color: #F2C6C2;
}

.footer-left {
    float: left;
    align-items: center;
    width: 220px;
    font-size: 14px;
    padding-left: 20px;
}

.footer-right {
    font-size: 14px;
    float: right;
    font-family: 'roboto';
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    padding-right: 20px;
}

/* PAGE ACCUEIL / PRÉSENTATION */

.presentation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.text-accueil {
    margin-top: 150px;
}

.text-accueil p {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 40px;
}

.text-accueil h1 {
    margin-bottom: 5px;
}

.commander-btn {
    background-color: #F2C6C2;
    width: 180px;
    height: 30px;
    float: left;
    margin-bottom: 30px;
    border: 1px solid black;

}

.commander-btn a {
    text-decoration: none;
}

.commander-btn a p {
    text-align: center;
    font-family: 'roboto';
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 7px;
    color: black;
}

.reserver-btn {
    background-color: #F2E8DF;
    width: 100px;
    height: 30px;
    float: right;
    margin-right: 50px;
    border: 1px solid black;
}

.reserver-btn a {
    text-decoration: none;
}

.reserver-btn a p {
    text-align: center;
    font-family: 'roboto';
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 7px;
    color: black;
}

/* PAGE ACCUEIL / TÉMOIGNAGES */

li h1 {
    font-size: 1.2rem;
    margin-left: 80px;
    margin-top: 30px;
}

li p {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 0.8rem;
    margin-top: 30px;
}

.temoignages {
    width: 100%;
    margin: 0 auto;
}

.clients {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 46% 46%;
    gap: 2%;
    list-style: none;
    padding: 0px;
}

.client1 {
    width: 310px;
    background-color: #F2E8DF;
    border-radius: 10px;
    height: auto;
}

.client2 {
    width: 310px;
    background-color: #F2E8DF;
    border-radius: 10px;
    height: auto;
}

.client3 {
    width: 310px;
    background-color: #F2E8DF;
    border-radius: 10px;
    height: auto;
}

.client4 {
    width: 310px;
    background-color: #F2E8DF;
    border-radius: 10px;
    height: auto;
}

.client5 {
    width: 310px;
    background-color: #F2E8DF;
    border-radius: 10px;
    height: auto;
}

.client6 {
    width: 310px;
    background-color: #F2E8DF;
    border-radius: 10px;
    height: auto;
}

.img-client {
    width: 17%;
    border-radius: 100px;
    clear: both;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

/* PAGE RESTAURANT */

.images-restaurant {
    width: 100%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-rows: 230px 230px 230px;
    gap: 1%;
}

.bar-laitier {
    grid-column: 1;
    grid-row: 1;
}

.creme-glacee {
    grid-column: 2;
    grid-row: 1;
}

.comptoir {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.cornet {
    grid-column: 1;
    grid-row: 2 / 4;
}

.sunday {
    grid-column: 3;
    grid-row: 3;
}

.creme-illuminee {
    grid-column: 4;
    grid-row: 3;
}

.floatRight {
    float: right;
    margin-top: 5%;
}

.floatLeft {
    width: 20%;
    float: left;
}

.nous-joindre {
    width: 100%;
    margin: 10% auto;
    margin-bottom: 780px;
}

.nous-joindre p {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 50px;
    font-family: 'roboto-bold';
}

.coordo {
    font-family: 'roboto';
    font-size: 1.1rem;
    text-transform: none;
    margin-bottom: 0px;
}

.coordo a {
    text-decoration: none;
    color: black;
    font-family: 'roboto';
    font-size: 1rem;
    margin-top: 0px;
}

.coordo a:hover {
    color: #86A69D;
}

/* PAGE RESERVATION */

.formulaire-reservation {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #86A69D;
    width: 100%;
    height: 870px;
    margin: 0 auto;
    margin-bottom: 5%;
    padding-left: 10%;
    border-radius: 100px;
}

form legend {
    font-family: 'roboto';
    font-size: 2rem;
    color: white;
}

form label {
    font-family: 'roboto';
    font-size: 1.1rem;
    color: white;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
}

fieldset {
    border: 1px solid white;
    width: 750px;
    margin: 25px auto;
}

.reservation h3 {
    font-size: 2rem;
    color: black;
    margin-left: 100px;
    margin-bottom: 2px;
    font-family: 'robotolight';
    text-transform: uppercase;
    margin-top: 50px;
}

.reservation p {
    font-size: 1rem;
    color: black;
    margin-bottom: 5px;
    font-family: 'roboto';
}

.reservation h3 {
    margin-left: 0px;
}

.page-reservation p {
    font-size: 3rem;
    color: black;
    margin-left: 10%;
    margin-bottom: 5px;
    font-family: 'roboto';
}

input[type=submit] {
    background-color: white;
    border: 0.5px solid black;
    width: 110px;
    height: 40px;
    font-family: 'roboto';
    font-size: 1.5rem;
    color: black;
    margin-top: 15px;
}

input[placeholder] {
    font-family: 'roboto';
}

input[value] {
    font-size: 1.2rem;
    font-family: 'roboto';
}

h4 {
    font-family: 'roboto';
    font-size: 1.1rem;
    color: white;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* PAGE MA COMMANDE */

.page-commande {
    width: 100%;
    margin: 0 auto;
}

table {
    font-family: 'roboto';
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
}

.tableau {
    margin-top: 30px;
    margin-bottom: 10px;
}

th {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

td {
    width: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.txt-center-dark {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F2C6C2;
}

.txt-center-light {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F2E8DF;
}

.light {
    background-color: #F2E8DF;
}

.dark {
    background-color: #F2C6C2;
}

.commander {
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: black;
    width: 160px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    font-family: 'roboto';
}

.commander a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.detail {
    font-size: 2rem;
    padding-top: 30px;
    padding-left: 25px;
}

.sous-titre {
    padding-left: 25px;
    font-family: 'roboto-bold';
    width: 60%;

}

.prix {
    text-align: right;
    padding-right: 30px;

}

tr.border {
    border-top: 1px solid black;
}

.tableau-commander {
    width: 25%;
    float: right;
    margin-top: 65px;
    background-color: #F2C6C2;
}

.ma-commande {
    width: 55%;
    float: left;
    clear: both;
}

.absolute {
    position: absolute;
    width: 80%;
    margin-top: 750px;
}

.margin-bottom {
    margin-bottom: 0px;
    margin-top: 0px;
}

@media screen and (max-width : 960px) {

    body {
        width: 80%;
    }

    nav {
        display: none;
    }

    .nav-burger {
        display: flex;
        width: 150px;
        height: 66px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    /* PAGE ACCUEIL / PRÉSENTATION */

    .commander-btn {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .img-presentation {
        width: 400px;
    }

    /* PAGE ACCUEIL / TÉMOIGNAGES */

    .clients {
        grid-template-columns: 31% 31% 31%;
        grid-template-rows: 46% 46%;
        gap: 3%;
    }

    .client1 {
        width: 250px;
        height: auto;
    }

    .client2 {
        width: 250px;
        height: auto;
    }

    .client3 {
        width: 250px;
        height: auto;
    }

    .client4 {
        width: 250px;
        height: auto;
    }

    .client5 {
        width: 250px;
        height: auto;
    }

    .client6 {
        width: 250px;
        height: auto;
    }

    .img-client {
        width: 30%;
    }

    /* PAGE RESTAURANT */

    .images-restaurant {
        width: 90%;
        grid-template-columns: 160px 160px 160px 160px;
        grid-template-rows: 160px 160px 160px;
    }

    .img-restaurant-petite {
        width: 160px;
        height: 160px;
    }

    .img-restaurant-grande {
        width: 320px;
        height: 320px;
    }

    iframe {
        width: 400px;
        height: 400px;
    }

    .floatRight {
        width: 400px;
        height: 400px;
    }

    .floatLeft {
        width: 30%;
    }

    .nous-joindre {
        width: 90%;
    }

    .nous-joindre p {
        font-size: 1.5rem;
    }

    .coordo {
        font-family: 'roboto';
        font-size: 1rem;
        text-transform: none;
        margin-bottom: 0px;
    }

    /* PAGE RESERVATION */

    .formulaire-reservation {
        width: 750px;
        height: 900px;
    }

    fieldset {
        width: 550px;
    }

    /* PAGE MA COMMANDE */

    .page-commande {
        width: 100%;
        margin: 0 auto;
    }

    .commander a {
        font-size: 1.1rem;
    }

    .detail {
        font-size: 1.5rem;
    }

    .sous-titre {
        font-size: 1rem
    }

    .tableau-commander {
        width: 40%;
    }

    .absolute {
        position: absolute;
        width: 80%;
        margin: 750px auto;
    }
}

@media screen and (max-width : 570px) {
    body {
        width: 80%;
    }

    nav {
        display: none;
    }

    .nav-burger {
        display: flex;
        width: 150px;
        height: 66px;
    }

    .nav-commande {
        font-size: 1.2rem;
    }

    .logo {
        width: 150px;
    }

    h1 {
        font-size: 2.2rem;
        margin-top: 0px;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    .footer-left p {
        width: 170px;
        font-size: 12px;
    }

    .footer-right span {
        width: 190px;
        font-size: 12px;
    }

    /* PAGE ACCUEIL / PRÉSENTATION */

    .commander-btn {
        margin-bottom: 10px;
    }

    .img-presentation {
        width: 200px;
        height: auto;
    }

    .text-accueil {
        width: 50%;
        margin-top: 0px;
    }

    section.presentation {
        margin-top: 20px;
    }

    /* PAGE ACCUEIL / TÉMOIGNAGES */

    .clients {
        display: inline;
    }

    .clients h1 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
    }

    .clients p {
        margin-top: 0px;
        padding-bottom: 10px;
    }

    .client1 {
        width: 100%;
        height: auto;
    }

    .client2 {
        width: 100%;
        height: 110px;
    }

    .client3 {
        width: 100%;
        height: auto;
    }

    .client4 {
        width: 100%;
        height: auto;
    }

    .client5 {
        width: 100%;
        height: auto;
    }

    .client6 {
        width: 100%;
        height: auto;
    }

    .img-client {
        width: 15%;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
    }

    /* PAGE RESTAURANT */

    .images-restaurant {
        width: 90%;
        grid-template-columns: 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
    }

    .img-restaurant-petite {
        width: 100px;
        height: 100px;
    }

    .img-restaurant-grande {
        width: 200px;
        height: 200px;
    }

    iframe {
        width: 100%;
        height: 400px;
    }

    .floatRight {
        width: 100%;
        height: 400px;
    }

    .floatLeft {
        width: 100%;
    }

    .nous-joindre {
        width: 90%;
    }

    .nous-joindre p {
        font-size: 1.1rem;
        margin-top: 20px;
        text-align: center;
    }

    .coordo {
        font-family: 'roboto';
        font-size: 14px;
        text-transform: none;
        margin-bottom: 20px;
        text-align: center;
    }

    .coordo a {
        margin-left: 0px;
    }

    /* PAGE RESERVATION */

    .formulaire-reservation {
        width: 450px;
        height: 930px;
    }

    fieldset {
        width: 350px;
    }

    form legend {
        font-size: 1.5rem;
    }

    /* PAGE MA COMMANDE */

    .page-commande {
        width: 100%;
        margin: 0 auto;
    }

    .commander {
        width: 120px;
    }

    .commander a {
        font-size: 1rem;
    }

    .sous-titre {
        font-size: 12px;
    }

    td {
        font-size: 12px;
    }

    th {
        font-size: 1rem;
    }

    td.ligne {
        font-size: 11px;
    }

}